<script src="all-parking.component.ts"></script>
<div class=" content">
    <div class=" row">
        <ol class=" breadcrumb bg-transparent ml-3">
            <li class=" breadcrumb-item"><a href="#"> Home </a></li>
            <li class=" breadcrumb-item"><a href="#"> Library </a></li>
            <li class=" breadcrumb-item active">Data</li>
        </ol>
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">Parking List</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table">
                            <thead class=" text-primary">
                            <tr>
                                <th class=" text-center">#</th>
                                <th class=" text-center">NAME</th>
                                <th class=" text-center">AIRBASE</th>
                                <th class=" text-center">COLOR</th>
                                <th class=" text-center">AIRCRAFT TYPE</th>
                                <th class=" text-center">TOTAL PLACES</th>
                                <th class=" text-center">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let park of parkings">
                                <td class=" text-center">{{park.id}}</td>
                                <td class=" text-center">{{park.name}}</td>
                                <td class=" text-center">{{park.airbaseId}}</td>
                                <td class=" text-center">{{park.color}}</td>
                                <td class=" text-center">{{park.aircraftType}}</td>
                                <td class=" text-center">{{park.totalPlaces}}</td>
                                <td class=" text-center">
                                    <button
                                            class=" btn btn-success btn-link btn-sm btn-icon"
                                            tooltip="Details"
                                            type="button"
                                    >
                                        <i class=" tim-icons icon-paper" style="color: #0e84f8"> </i>
                                    </button>
                                    <button
                                            (click)="handleEdit(park.id)"
                                            class=" btn btn-success btn-link btn-sm btn-icon"
                                            tooltip="Edit"
                                            type="button"
                                    >
                                        <i class=" tim-icons icon-pencil"> </i>
                                    </button>
                                    <button
                                            (click)="handleDelete(park)"
                                            class=" btn btn-danger btn-link btn-sm"
                                            tooltip="Delete"
                                            type="button"
                                    >
                                        <i class=" tim-icons icon-simple-remove"> </i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
