<div class=" content">
    <div class=" row">
        <div class=" col-lg-10 mx-auto">
            <div class=" card">
                <div class=" card-header"><h5 class=" title">{{parkingId?'Update Parking':'Add New Parking'}}</h5></div>
                <div class=" card-body">
                    <form [formGroup]="parkingForm" (ngSubmit)="saveParking()">
                        <div class=" row">
                            <div class=" col-md-4 pr-md-1">
                                <div class=" form-group">
                                    <label> Parking name </label>
                                    <input class=" form-control" formControlName="name" type="text" />
                                </div>
                            </div>
                            <div class=" col-md-4 pl-md-1">
                                <div class=" form-group">
                                    <label> Airbase </label>
                                    <select class="form-control" formControlName="airbaseId">
                                        <option *ngFor="let airbase of airbases" [value]="airbase.id">{{ airbase.name}}</option>

                                    </select>
                                </div>
                            </div>
                            <div class=" col-md-4 pl-md-1">
                                <div class=" form-group">
                                    <label> Parking color </label>
                                    <select class="form-control" formControlName="color">
                                        <option>GREEN</option>
                                        <option>ORANGE</option>
                                        <option>RED</option>
                                        <option>BLUE</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class=" row">
                            <div class=" col-md-6 pr-md-1">
                                <div class=" form-group">
                                    <label> Aircraft Type </label>
                                    <select class="form-control" formControlName="aircraftType">
                                        <option>TYPHON</option>
                                        <option>RAFALE</option>
                                        <option>APACHE</option>
                                    </select>
                                </div>
                            </div>
                            <div class=" col-md-6 pl-md-1">
                                <div class=" form-group">
                                    <label> Total Places </label>
                                    <input class=" form-control" formControlName="totalPlaces" type="number" />
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class=" col-md-12">
                                <div class=" form-group">
                                    <label> About the Parking  </label>
                                    <textarea class=" form-control" formControlName="description" cols="50" rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class=" card-footer">
                            <button class=" btn btn-fill btn-danger" type="submit">SAVE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

