<div class=" content">
    <div class=" row">
        <ol class=" breadcrumb bg-transparent ml-3">
            <li class=" breadcrumb-item"><a href="#"> Home </a></li>
            <li class=" breadcrumb-item"><a href="#"> Library </a></li>
            <li class=" breadcrumb-item active">Data</li>
        </ol>
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h4 class=" card-title">AircraftMakers list</h4>
                </div>
                <div class=" card-body">
                    <div class=" table-responsive">
                        <table class=" table">
                            <thead class=" text-primary">
                            <tr>
                                <th class=" text-center">#</th>
                                <th class=" text-center">Name</th>
                                <th class=" text-center">CITY</th>
                                <th class=" text-center">ALTITUDE</th>
                                <th class=" text-center">LONGITUDE</th>
                                <th class=" text-center">SURFACE (Ha)</th>
                                <th class=" text-center">CREATION DATE</th>
                                <th class=" text-center">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--tr *ngFor="let airbase of airbases">
                                <td class=" text-center">{{airbase.id}}</td>
                                <td class=" text-center">{{airbase.name}}</td>
                                <td class=" text-center">{{airbase.city}}</td>
                                <td class=" text-center">{{ airbase.latitude }}</td>
                                <td class=" text-center">{{ airbase.longitude }}</td>
                                <td class=" text-center">{{ airbase.surface }}</td>
                                <td class=" text-center">{{ airbase.creationDate | date:'dd/MM/yyyy' }}</td>
                                <td class=" text-center">
                                    <button
                                            class=" btn btn-success btn-link btn-sm btn-icon"
                                            tooltip="Details"
                                            type="button"
                                    >
                                        <i class=" tim-icons icon-paper" style="color: #0e84f8"> </i>
                                    </button>
                                    <button
                                            class=" btn btn-success btn-link btn-sm btn-icon"
                                            tooltip="Edit"
                                            type="button"
                                    >
                                        <i class=" tim-icons icon-pencil"> </i>
                                    </button>
                                    <button
                                            class=" btn btn-danger btn-link btn-sm"
                                            tooltip="Delete"
                                            type="button"
                                    >
                                        <i class=" tim-icons icon-simple-remove"> </i>
                                    </button>
                                </td>
                            </tr-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

